/*Stylesheet shared across components*/
.content {
    padding-top:5rem;
}

.centered-item {
    display: block;
    margin: auto;
}

.top-margin {
    margin-top: 1em;
}

.align-right {
    text-align: right;
}
