.profile-header {
    background-color: rgb(0, 35, 77);
    margin-bottom: 2em;
}

.profile-section-header {
    margin-top: 1em;
    color: rgb(0, 35, 77);
}

.profile-header-primary {
    color: rgb(0, 112, 192);
}

.profile-header-secondary {
    color: white;
}

.header-text {
    margin: 1em;
}

.skyline-logo {
    margin: 1em;
}

.bordered {
    border: 1px solid black;
    margin-right: -1px;
    margin-bottom: -1px;
}

.skill-table {
    padding: 1em;
}

.footer-buttons {
    margin-bottom: 2em;
}
