<header class="masthead">
    <div class="container">
        <!-- TODO Image Should Come From Kentico Cloud-->
        <img class="img-fluid" src="/img/profile.png" alt="Software Engineer">
        <div class="intro-text">
            <span class="name">Maley Digital Marketing</span>
            <hr class="star-light">

            <!--TODO Move Skills Into Kentico Cloud-->
            <span class="skills">Kentico - Search Engine Optimization - Digital Marketing</span>
        </div>
    </div>
</header>
