<span *ngIf="!homeContent">Loading...</span>

<!-- Hero Section -->
<header class="masthead" *ngIf="homeContent">
    <div class="container">
        <img class="img-fluid" src="{{ homeContent.heroImage[0].url }}" alt="{{ homeContent.heroImage[0].description }}">
        <div class="intro-text">
            <span class="name">Maley Digital Marketing</span>
            <hr class="star-light">
            <span class="skills">{{ homeContent.heroSkill1 }} - {{ homeContent.heroSkill2 }} - {{ homeContent.heroSkill3 }}</span>
        </div>
    </div>
</header>


<!-- Blog Section -->
<section id="blog" *ngIf="homeContent">
    <div class="container">
        <h2 class="text-center">{{ homeContent.blogSectionHeaderText }}</h2>
        <hr class="star-primary">

        <!-- LEFT OFF HERE NEED BETTER HEADLESS CMS IMAGE -->
        <div class="row card-section">
            <div class="col-md-6" *ngFor="let card of homeContent.blogCards">
                <div class="card-square">
                    <div class="img-wrapper inner-border-white">
                        <img class="image-square" src="{{ card.cardImage[0].url }}" alt="{{ card.cardImage[0].description }}">
                    </div>
                    <div class="text-wrapper">
                        <h3>{{ card.blogName}}</h3>

                        <hr>
                        <p>{{ card.blogShortDescription }}</p>
                        <a href="http://training.iddba.org/module/hand-washing-personal-hygiene" target="_blank">Watch VIDEO<span class="glyphicon glyphicon-menu-right">&nbsp;</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
