<div class="container">
    <div class="row">
        <img class="centered-item" src="/img/headless_horseman.png" />
    </div>
    <div class="row">
        <div class="centered-item top-margin">
            <h2>Powered by the Kentico Headless CMS</h2>

            <p class="top-margin">
                This template is built using <a href="https://blogs.msdn.microsoft.com/webdev/2017/02/14/building-single-page-applications-on-asp-net-core-with-javascriptservices/">.NET Angular SPA App template</a> and uses the items below.
            </p>

            <ul>
                <li><a href='https://get.asp.net/'>ASP.NET Core 2.0</a> and <a href='https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-core-2-0/'>C#</a> for cross-platform server-side code</li>
                <li><a href='https://angular.io/'>Angular 4</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
                <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
                <li><a href='http://getbootstrap.com/'>Bootstrap 4 (beta)</a> for layout and styling</li>
                <li><a href='https://www.npmjs.com/package/node-sass'>node-SASS</a> for CSS preprocessing</li>
                <li><a href='https://www.npmjs.com/package/angular2-toaster'>angular2-toaster</a> for client side user feedback</li>
                <li><a href='https://ng-bootstrap.github.io/#/home'>ng-Bootstrap</a> for Angular Powered Boostrap Components</li>
            </ul>

            <p>
                To fetch our data from Kentico Cloud we are using the <a href="https://devnet.kentico.com/articles/5-reasons-to-use-the-kentico-cloud-boilerplate-project">Kentico Cloud Boilerplate</a>
            </p>
        </div>
    </div>
</div>

